.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.header h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary);
}

.header p {
  color: var(--text-secondary);
  font-size: 14px;
}

.bottom {
  width: 100%;
}
